.App {
  text-align: center;
}

.App h1{
  background-color: lightgreen;
  padding: 10px;
  color: cornflowerblue;
}

.App .title{
  background-color: lightseagreen;
  padding: 10px;
  color: #fff;
  margin-top: -20px;
}